@font-face {
   font-family: 'Goeslim';
   src: url('Goeslim-Regular/Goeslim.ttf');

   font-family: 'carrousel';
   src: url('Carrousel/CARROUSEL.TTF');

   font-family: 'amarillo';
   src: url('Amarillo/AMARILLO.TTF');


}
