@font-face {
   font-family: 'Goeslim-Regular';
   src: url('Goeslim-Regular/font.ttf');

   font-family: 'carrousel';
   src: url('Carrousel/CARROUSEL.TTF');

   font-family: 'amarillo';
   src: url('Amarillo/AMARILLO.TTF');


}
